<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Nette Web</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
